{% extends "layout.html" %}
{% block content %}
<div class='content-section'>
    <form method="POST" action="", enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {% if current_user.account_type == 'admin' %}
                <div class="form-group">
                    {{ form.featured.label(class="form-control-label") }}
                    {% if form.featured.errors %}
                    {{ form.featured(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.featured.errors %}
                        <span> {{error}} </span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.featured(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            {% endif %}

            {% if current_user.account_type == 'admin' %}
            <div class="form-group">
                {{ form.edit_queue.label(class="form-control-label") }}
                {% if form.edit_queue.errors %}
                {{ form.featured(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.edit_queue.errors %}
                    <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.edit_queue(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            {% endif %}

            <div class="form-group">
                {{ form.markup_type.label(class="form-control-label") }}
                {% if form.markup_type.errors %}
                {{ form.markup_type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.markup_type.errors %}
                    <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.markup_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.title_image.label() }}
                {{ form.title_image(class="form-control-file") }}
                {% if form.title_image.errors %}
                {% for error in form.title_image.errors %}
                <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
                {% endif %}
                </div>
            <div class="form-group">
                {{ form.tags.label(class="form-control-label") }}
                {% if form.tags.errors %}
                {{ form.tags(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.tags.errors %}
                    <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tags(class="form-control form-control-lg") }}
                {% endif %}
            </div>
                
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                {{ form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}